# {{ title }}

Letters of Light - Week of {{ week_date }}

## Scripture

{{ scripture_refs }}

## Letter

{{ body }}

## Reflection Questions

{{ reflection_questions }}

## Closing Prayer

{{ closing_prayer }}
