\frontmatter

\thispagestyle{empty}
\begin{center}
\vspace*{\fill}
{\Huge {{ meta.title }}}{% if meta.subtitle %}\\[1.25em]
{\Large {{ meta.subtitle }}}{% endif %}{% if meta.author %}\\[2em]
{\large {{ meta.author }}}{% endif %}
\vspace*{\fill}
\end{center}

\clearpage

{% if front_matter.cover_blurb %}
# Cover Blurb {.unnumbered}

{{ front_matter.cover_blurb }}

{% endif %}
{% if front_matter.copyright %}
# Copyright {.unnumbered}

{{ front_matter.copyright }}

{% endif %}
{% if front_matter.dedication %}
# Dedication {.unnumbered}

{{ front_matter.dedication }}

{% endif %}
{% if front_matter.acknowledgments %}
# Acknowledgments {.unnumbered}

{{ front_matter.acknowledgments }}

{% endif %}
{% if front_matter.preface %}
# Preface {.unnumbered}

{{ front_matter.preface }}

{% endif %}
\clearpage
\tableofcontents

\clearpage
\mainmatter

{% for ch in chapters %}
# {{ ch.title }} {{ '{#chapter-' ~ loop.index ~ '}' }}

{{ ch.body }}

{% endfor %}
{% if end_matter.endnote %}
\backmatter

# Endnote {.unnumbered}

{{ end_matter.endnote }}
{% endif %}
